@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;700&display=swap');




body{
  font-family :"Poppins"
}
.mainHead{
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
h3{
  font-weight: bold;
  margin-top: 0px;
  margin-left: 2%;
}
h4{
  margin-top: 0px;
  font-weight: bold;
  margin-left: 2%;
}

.mainTable{
  display: inline;
  border-top:1px solid black;
  border-left:1px solid black;
  border-bottom:1px solid black;
  width: 100% !important;
}
.mainTableTwo{
  display: inline;
  border:1px solid black;
  width: 100% !important;
}

.mainTr{
  background-color: var(--main-color) !important;
  color:white
}
.actionTd{
  font-weight: bold;
}
.mainTable tr{
  display: flex;

  justify-content: space-around;
width: 100%;
}

.trHighlight:hover{
  background-color: rgb(226, 218, 218);
}

.mainTable th{
  flex:1;
text-align: left;
padding: 10px;
/* background-color: red; */
}
.mainTable td{
  flex:1;
text-align: right;
padding: 10px;
/* background-color: red; */
}


.mainTableTwo tr{
  display: flex;

  justify-content: space-around;
width: 100%;
}

.mainTableTwo th{
  flex:1;
text-align: left;
padding: 10px;
/* background-color: red; */
}
.mainTableTwo td{
  flex:1;
text-align: right;
padding: 10px;
/* background-color: red; */
}



.cateInp{
    width:30%;
    border-radius:10px;
    margin-top: 20px;
    height:50px;
    background-color:#f2eded;
    padding-left:10px;
    border: none;
    margin-left: 10px;
}
.cateInp:focus{
    border: none;
}

.cateDiv{
  display: flex;
  margin: 10px;
  margin-top: 5px;
  justify-content: space-between;
  border-radius:10px;
   height: 45px !important; 
   align-items: center;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .usersDiv{
    display: flex;
    margin: 10px;
    margin-top: 5px;
    justify-content: space-between;
    border-radius:10px;
     height: 80px !important; 
     align-items: center;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
.userIcon{
  width:35px;height:35px;
border-radius: 15px;
margin-left:10px;
margin-right:10px;
}
.usersDiv p{
  margin: 0px;
  font-size: 12px;
}

   .imgDiv{
display: flex;
align-items: center;

}

.cateImg{ 
   width: 25px;
   margin-left:5%;
   height: 25px;
   object-fit: contain;
}
.catName{
 margin-left: 5px;
font-size: 12px;
margin-top: 20px;
margin-right: 10px;
white-space: nowrap;
}

.iconDelStl{
  height: 30px;
  width:20px;
  margin-right: 5px;
  color:red;
  cursor:pointer;
}

.iconSearchStl{
  height: 20px;
  width:20px;
  color:gray;
  position: relative;
  right: 30px;

}

.iconEditStl{
  height: 17px;
  width:15px;
  color:var(--hover-color);
  cursor:pointer;
}
.optMenuStl{

}
   .tagDiv{
     display:flex;
     justify-content: space-between;
    border-radius:10px;margin-right:15px;margin-bottom:10px; 
    height: 45px !important; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
   .tagName{
     margin-top:15px;
  margin-left: 10px;
  font-size: 14px;}



.tagInp{
  width:30%;
  border-radius:10px;
  height:50px;
  margin-left: 2%;
  padding-left:10px;
  background-color:#f2eded;
  border: none;
}
.tagInp:focus{
  border: none;
}
.cnlBtn{
  border: none;
  background-color: red;
}

.updBtn{
  background-color: var(--main-color) !important;
border: none;
}
.addBtnStl{
  background-color: var(--main-color) !important;
  color:white;
  height:52px;
  padding: 10px;
  width: 10%;
  font-size: 1vw;
  margin-top: 38px;
  margin-left: 3%;
  font-weight: bold;
  border-radius: 10px;
border:none
}

/* DropDown */

.dropdown {
    position: relative;
    right:1;
    top:5px;
    /* display: inline-block; */
  }
  
  .threeDot {
    /* position: absolute; */
    padding: 5px 5px 5px 10px;
    /* right: -5px; */
    height: 28px;
    top:8px;
    color: black;
    /* background-color: var(--main-color); */
    border-bottom-left-radius: 30px;
    font-size: 35px;
  }
  .threeDot:hover {
    /* position: absolute; */
    padding: 5px 5px 5px 10px;
    /* right: 0px;
    top:0px; */
    color: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 30px;
    font-size: 35px;
  }
  .dropbtn {
    transition: 0.2s;
  }

  .dropdownContentOne {
    display: flex;
    justify-content: space-around;
  margin-top: 6px;
   margin-left:10px ;
    -webkit-transition: max-height 0.2s ease-in;
    transition: max-height 0.2s ease-in;
  }
  
  .dropdownContent {
    display: flex;
    justify-content: space-around;
  margin-top: 10px;
   margin-left:10px ;
    -webkit-transition: max-height 0.2s ease-in;
    transition: max-height 0.2s ease-in;
  }
  
  .dropdownContent a {
    display: flex;
    /* color: black; */
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    color: white !important;
    font-size: 12px;
  }
  
  .dropdownContent a:hover {
    background-color: var(--hover-color);
    color: white;
  }
  
  .dropdown:hover .dropdownContent {
    display: flex;
    /* for Adding transtion on hover */
    max-height: 500px;
    -webkit-transition: max-height 0.2s ease-in;
    transition: max-height 0.2s ease-in;
  }
  
  .dropdown:hover .dropbtn {
    /* background-color: var(--hover-color); */
    border-bottom-left-radius: 25px;
    color:black
  }
  
  
  .tabbed {
    overflow-x: hidden; /* so we could easily hide the radio inputs */
    margin-top: 10px;
    padding-bottom: 16px;
    /* border-bottom: 1px solid #ccc; */
  }
  
  .tabbed [type="radio"] {
    /* hiding the inputs */
    display: none;
  }
  
  .tabs {
    display: flex;
    align-items: stretch;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #ccc;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  /* Scroll bar horizontal */
  .tabs::-webkit-scrollbar {
    height: 3px;
  }
  
  .tabs::-webkit-scrollbar-track {
    background: #eeeeee;
  }
  
  .tabs::-webkit-scrollbar-thumb {
    background: rgb(119, 119, 119);
  }
  /* -------------------- */
  
  .tab > label {
    display: block;
    margin-bottom: -1px;
    padding: 12px 15px;
    border: 1px solid var(--main-color);
    background: white;
    color: var(--main-color);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.1s;
  }
  .tab:hover label {
    border-top-color: var(--main-color);
    background-color: var(--main-color);
    color:white
  }
  
  .tab_content {
    display: none;
    color: rgb(0, 0, 0);
  }
  
  /* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
  .tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
  .tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
  .tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
  .tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
  .tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label,
  .tabbed
    [type="radio"]:nth-of-type(5):checked
    ~ .tabs
    .tab:nth-of-type(5)
    label {
    border-top-color: var(--main-color);
    background: var(--main-color);
    color: white;
  }
  
  .tabbed [type="radio"]:nth-of-type(1):checked ~ .tab_content:nth-of-type(1),
  .tabbed [type="radio"]:nth-of-type(2):checked ~ .tab_content:nth-of-type(2),
  .tabbed [type="radio"]:nth-of-type(3):checked ~ .tab_content:nth-of-type(3),
  .tabbed [type="radio"]:nth-of-type(4):checked ~ .tab_content:nth-of-type(4),
  .tabbed [type="radio"]:nth-of-type(5):checked ~ .tab_content:nth-of-type(5) {
    display: block;
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .tab_content::-webkit-scrollbar {
    width: 3px;
  }
  
  .tab_content::-webkit-scrollbar-track {
    background: #eeeeee;
  }
  
  .tab_content::-webkit-scrollbar-thumb {
    background: rgb(119, 119, 119);
  }
  
  .noDataFound {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .noDataFound img {
    width: 100px;
    align-items: center;
    align-self: center;
    font-size: 30px;
  }
  
  .noDataFound p {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .searchInput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    }

    .searchInput input[type="number"] {
      width: 50%;
      height: 50px;
      padding: 20px;
      outline: none;
       border-radius: 5px;
    }
    .searchInput :focus {
      border-top: 0px;
      border-right: 0px;
      border-bottom: 3px solid black;
      border-left: 0px;
      border-radius: 0px;
    }
    button {
      width: 12%;
      height: 44px;
      margin-left: 30px;
      color: white;
      background-color: black !important;
      outline: none !important;
      border: none !important;
      font-size: 20px;
      /* // border-radius: 5px; */
      
    }

    button:hover{
      
        background-color: black !important;
      
    }
  
    /* // Remove Arrow */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  
    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  
    .productDiv{
      display: flex;
      padding: 10px;
      margin-top: 5px;
      margin:10px;
      width: 30%;
/* justify-content: space-between; */
      border-radius:10px;
       /* height: 45px !important;  */
       align-items: center;
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

.productDiv h2{
  padding: 0px;
  margin: 0px;
}
.adDetail{
  display: flex;
  margin-left: 5px;
}
.productDiv p{
  padding: 0px;
  margin: 0px;
}



  @media screen and (max-width: 1000px) {
   
.cateDiv{
  display: flex;
  margin: 10px;
  justify-content: space-between;
  border-radius:10px;
   height: 45px !important; 
   align-items: center;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
   .imgDiv{
display: flex;
align-items: center;

}

.cateImg{ 
   width: 25px;
   margin-left:5%;
   height: 25px;
   object-fit: contain;
}
.catName{
 margin-left: 5px;
font-size: 12px;
margin-top: 20px;
margin-right: 10px;
white-space: nowrap;
}

/* DropDown */

.dropdown {
  position: relative;
  right:1;
  top:5px;
  /* display: inline-block; */
}

.threeDot {
  position: absolute;
  padding: 5px 5px 5px 10px;
  right: -5px;
  height: 28px;
  top:8px;
  color: black;
  /* background-color: var(--main-color); */
  border-bottom-left-radius: 30px;
  font-size: 35px;
}
.threeDot:hover {
  position: absolute;
  padding: 5px 5px 5px 10px;
  /* right: 0px;
  top:0px; */
  color: white;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 30px;
  font-size: 35px;
}
.dropbtn {
  transition: 0.2s;
}

.iconDelStl{
  height: 30px;
  width:20px;
  color:red;
  cursor:pointer;
}

.iconEditStl{
  height: 17px;
  width:15px;
  margin-top: 6px;
  color:var(--hover-color);
  cursor:pointer;
}

.tagDiv{
  display:flex;
  justify-content: space-between;
 border-radius:10px;margin-right:15px;margin-bottom:10px; 
 height: 45px !important; 
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
.tagName{
  margin-top:15px;
margin-left: 10px;
font-size: 14px;}

.dropdownContent {
  display: flex;
  justify-content: space-around;
margin-top: 10px;
 margin-left:10px ;
  -webkit-transition: max-height 0.2s ease-in;
  transition: max-height 0.2s ease-in;
}

.dropdownContent a {
  display: flex;
  /* color: black; */
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: white !important;
  font-size: 12px;
}

.dropdownContent a:hover {
  background-color: var(--hover-color);
  color: white;
}

.dropdown:hover .dropdownContent {
  display: flex;
  /* for Adding transtion on hover */
  max-height: 500px;
  -webkit-transition: max-height 0.2s ease-in;
  transition: max-height 0.2s ease-in;
}

.dropdown:hover .dropbtn {
  /* background-color: var(--hover-color); */
  border-bottom-left-radius: 25px;
  color:black
}


  }


  @media screen and (max-width: 860px) {


    .productDiv{
      display: flex;
      padding: 10px;
      margin-top: 5px;
      margin:10px;
      width: 45%;
/* justify-content: space-between; */
      border-radius:10px;
       /* height: 45px !important;  */
       align-items: center;
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

.adDetail{
  display: flex;
  margin-left: 5px;
}
.productDiv p{
  padding: 0px;
  font-size: 8px;
  margin: 0px;
  margin-top: 5px;
}

    .cateInp{
      width:50%;
      border-radius:10px;
      margin-top: 20px;
      height:50px;
      background-color:#f2eded;
      padding-left:10px;
      border: none;
      margin-left: 10px;
  }
  .cateInp:focus{
      border: none;
  }
.cateDiv{
  display: flex;
  margin: 10px;
  justify-content: space-between;
  border-radius:10px;
   height: 45px !important; 
   align-items: center;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
   .imgDiv{
display: flex;
align-items: center;

}

.cateImg{ 
   width: 25px;
   margin-left:5%;
   height: 25px;
   object-fit: contain;
}
.catName{
 margin-left: 5px;
font-size: 12px;
margin-top: 20px;
margin-right: 10px;
white-space: nowrap;
}
     
    .tagDiv{
      display:flex;
      justify-content: space-between;
     border-radius:10px;margin-right:15px;margin-bottom:10px; 
     height: 45px !important; 
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
    .tagName{
      margin-top:15px;
    margin-left: 10px;
    font-size: 14px;}
    
    .dropdownContent {
      display: flex;
      justify-content: space-around;
    margin-top: 10px;
     margin-left:10px ;
      -webkit-transition: max-height 0.2s ease-in;
      transition: max-height 0.2s ease-in;
    }

.addBtnStl{
  background-color: var(--main-color) !important;
  color:white;
  height:52px;
  padding: 10px;
  width: 20%;
  font-size: 10px;
  margin-top: 38px;
  margin-left: 3%;
  font-weight: bold;
  border-radius: 10px;
border:none
}


/* DropDown */

.dropdown {
  position: relative;
  right:1;
  top:5px;
  /* display: inline-block; */
}

.threeDot {
  position: absolute;
  padding: 5px 5px 5px 10px;
  right: -5px;
  height: 28px;
  top:8px;
  color: black;
  /* background-color: var(--main-color); */
  border-bottom-left-radius: 30px;
  font-size: 35px;
}
.threeDot:hover {
  position: absolute;
  padding: 5px 5px 5px 10px;
  /* right: 0px;
  top:0px; */
  color: white;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 30px;
  font-size: 35px;
}
.dropbtn {
  transition: 0.2s;
}

.iconDelStl{
  height: 30px;
  width:20px;
  color:red;
  cursor:pointer;
}

.iconEditStl{
  height: 17px;
  width:15px;
  margin-top: 6px;
  color:var(--hover-color);
  cursor:pointer;
}



.dropdownContent a {
  display: flex;
  /* color: black; */
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: white !important;
  font-size: 12px;
}

.dropdownContent a:hover {
  background-color: var(--hover-color);
  color: white;
}

.dropdown:hover .dropdownContent {
  display: flex;
  /* for Adding transtion on hover */
  max-height: 500px;
  -webkit-transition: max-height 0.2s ease-in;
  transition: max-height 0.2s ease-in;
}

.dropdown:hover .dropbtn {
  /* background-color: var(--hover-color); */
  border-bottom-left-radius: 25px;
  color:black
}

  }

  @media screen and (max-width: 500px) {


    .productDiv{
      display: flex;
      padding: 10px;
      margin-top: 5px;
      margin:10px;
      width: 90%;
/* justify-content: space-between; */
      border-radius:10px;
       /* height: 45px !important;  */
       align-items: center;
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

.adDetail{
  display: flex;
  margin-left: 5px;
}
.productDiv p{
  padding: 0px;
  font-size: 8px;
  margin: 0px;
  margin-top: 5px;
}


    .cateInp{
      width:50%;
      border-radius:10px;
      margin-top: 20px;
      height:50px;
      background-color:#f2eded;
      padding-left:10px;
      border: none;
      margin-left: 10px;
  }
  .cateInp:focus{
      border: none;
  }
.cateDiv{
  display: flex;
  margin: 10px;
  justify-content: space-between;
  border-radius:10px;
   height: 45px !important; 
   align-items: center;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
   .imgDiv{
display: flex;
align-items: center;

}

.cateImg{ 
   width: 25px;
   margin-left:5%;
   height: 25px;
   object-fit: contain;
}
.catName{
 margin-left: 5px;
font-size: 12px;
margin-top: 20px;
margin-right: 10px;
white-space: nowrap;
}
   .tagDiv{
    display:flex;
    justify-content: space-between;
   border-radius:10px;margin-right:15px;margin-bottom:10px; 
   height: 45px !important; 
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
  .tagName{
    margin-top:15px;
  margin-left: 10px;
  font-size: 14px;}
  
  .dropdownContent {
    display: flex;
    justify-content: space-around;
  margin-top: 10px;
   margin-left:10px ;
    -webkit-transition: max-height 0.2s ease-in;
    transition: max-height 0.2s ease-in;
  }

  }



      @media screen and (max-width: 380px) {
        .cateInp{
          width:80%;
          border-radius:10px;
          margin-top: 20px;
          height:50px;
          background-color:#f2eded;
          padding-left:10px;
          border: none;
          margin-left: 10px;
      }
      .cateInp:focus{
          border: none;
      }
        .addBtnStl{
          background-color: var(--main-color) !important;
          color:white;
          height:52px;
          padding: 10px;
          width: 20%;
          font-size: 10px;
          margin-top: 38px;
          margin-left: 3%;
          font-weight: bold;
          border-radius: 10px;
        border:none
        }

       
.cateDiv{
  display: flex;
  margin: 10px;
  justify-content: space-between;
  border-radius:10px;
   height: 45px !important; 
   align-items: center;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
   .imgDiv{
display: flex;
align-items: center;

}

.cateImg{ 
   width: 25px;
   margin-left:5%;
   height: 25px;
   object-fit: contain;
}
.catName{
 margin-left: 5px;
font-size: 12px;
margin-top: 20px;
margin-right: 10px;
white-space: nowrap;
}
        .tagDiv{
          display:flex;
          justify-content: space-between;
         border-radius:10px;margin-right:15px;margin-bottom:10px; 
         height: 45px !important; 
         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
        .tagName{
          margin-top:15px;
        margin-left: 10px;
        font-size: 14px;}
        
        .dropdownContent {
          display: flex;
          justify-content: space-around;
        margin-top: 10px;
         margin-left:10px ;
          -webkit-transition: max-height 0.2s ease-in;
          transition: max-height 0.2s ease-in;
        }
         .catName{
          margin-top:15px;
         text-align:center;
       font-size: 10px;}
    
    /* DROPDOWN */
    
/* DropDown */

.dropdown {
  position: relative;
  right:1;
  top:5px;
  /* display: inline-block; */
}

.threeDot {
  position: absolute;
  padding: 5px 5px 5px 10px;
  right: -5px;
  height: 28px;
  top:8px;
  color: black;
  /* background-color: var(--main-color); */
  border-bottom-left-radius: 30px;
  font-size: 35px;
}
.threeDot:hover {
  position: absolute;
  padding: 5px 5px 5px 10px;
  /* right: 0px;
  top:0px; */
  color: white;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 30px;
  font-size: 35px;
}
.dropbtn {
  transition: 0.2s;
}

.iconDelStl{
  height: 30px;
  width:20px;
  color:red;
  cursor:pointer;
}

.iconEditStl{
  height: 17px;
  width:15px;
  margin-top: 6px;
  color:var(--hover-color);
  cursor:pointer;
}

.dropdownContent a {
  display: flex;
  /* color: black; */
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: white !important;
  font-size: 12px;
}

.dropdownContent a:hover {
  background-color: var(--hover-color);
  color: white;
}

.dropdown:hover .dropdownContent {
  display: flex;
  /* for Adding transtion on hover */
  max-height: 500px;
  -webkit-transition: max-height 0.2s ease-in;
  transition: max-height 0.2s ease-in;
}

.dropdown:hover .dropbtn {
  /* background-color: var(--hover-color); */
  border-bottom-left-radius: 25px;
  color:black
}
      }
      @media screen and (max-width: 250px) {
        
.cateDiv{
  display: flex;
  margin: 10px;
  justify-content: space-between;
  border-radius:10px;
   height: 45px !important; 
   align-items: center;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
   .imgDiv{
display: flex;
align-items: center;

}

.cateImg{ 
   width: 25px;
   margin-left:5%;
   height: 25px;
   object-fit: contain;
}
.catName{
 margin-left: 5px;
font-size: 12px;
margin-top: 20px;
margin-right: 10px;
white-space: nowrap;
}
           
              .tagName{
                margin-top:20px;
               text-align:center;
             font-size: 8px !important;}
            .tagDiv{
              border-radius:10px;
              margin:10px; height: 80px; width: 30%;
              margin-left: 5%;
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
              .cateInp{
                width:80%;
                border-radius:10px;
                margin-top: 20px;
                height:50px;
                background-color:#f2eded;
                padding-left:10px;
                border: none;
                margin-left: 10px;
            }
            .cateInp:focus{
                border: none;
            }
          }
        