.searchcontainer {
  background-color: aqua;
}

.selectedTag {
  margin-top: 7px;
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--main-color);
  padding: 6px 16px;
  margin-left: 10px;
  color: black;
  /* background-color: var(--main-color); */
  border: 0px;
  outline: none;
}

.myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 30px;
  top: 740px;
  width: 372px;
  z-index: 10;
}

.myULLi {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  border-radius: 10px;
  margin-bottom: 5px;
}

.myULLi:hover {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
