.labelStl{
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}
.addCatDiv{
    display:flex
}
.addBtnStl{
    background-color: var(--main-color) !important;
    color:white;
    height:52px;
    padding: 10px;
    width: 20%;
    font-size: 1.3vw;
    margin-top: 38px;
    margin-left: 3%;
    font-weight: bold;
    border-radius: 10px;

}
.addBtnStl:hover{
    background-color: var(--main-color) !important;
    color:white;
    height:52px;
    padding: 10px;
    width: 20%;
    font-size: 1.3vw;
    margin-top: 38px;
    margin-left: 3%;
    font-weight: bold;
    border-radius: 10px;

}

.cateInp{
    width:'100%';
    border-radius:10px;
    margin-top: 15px;
    height:50px;
    background-color:#f2eded;
    padding-left:10px;
    border: none;
    margin-left: -10px;
}
.cateInp:focus{
    border: none;
}

.cateInpPosi{
    width:'100%';
    border-radius:10px;
    margin-top: 40px;
    height:50px;
    background-color:#f2eded;
    padding-left:10px;
    border: none;
    margin-right: 10px;
}
.cateInpPosi:focus{
    border: none;
}
.notePara{
    font-size: 12px;
    margin-left: 20px;
    margin-top: 10px;
}
@media screen and (max-width: 380px) {
.addCatDiv{
    display:block
}
}


@media screen and (max-width: 860px) {
    .addCatDiv{
        display:block
    }
    }