
.mainContainer{
    margin-top: -30px;
}
.labelStl{
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}
.addCatDiv{
    display:flex;
    margin-left: 30px;
    margin-top: -10px;
}

.CateInpPosiDiv{width:8%;}
.CateIptDiv{width:15%;};
.CateInpFileDiv{width:10% !important;}
.addBtnStl{
    background-color: var(--main-color) !important;
    color:white;
    height:52px;
    padding: 10px;
    width: 12%;
    font-size: 1vw;
    margin-top: 38px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: -80px;
   
}
.addBtnStl:hover{
    background-color: var(--main-color) !important;
}

.cateInp{
    width:100% !important;
    border-radius:10px;
    margin-top: 15px;
    height:50px;
    background-color:#f2eded;
    padding-left:10px;
    border: none;
    margin-left: -10px;
    font-size: 14px;
}
.cateInp:focus{
    border: none;
}

.cateInpPosi{
    width:100% !important;
    border-radius:10px;
    margin-top: 40px;
    height:50px;
    background-color:#f2eded;
    padding-left:10px;
    border: none;
    margin-right: 10px;
    font-size: 14px;
}
.cateInpPosi:focus{
    border: none;
}
.notePara{
    font-size: 12px;
    margin-left: 20px;
    font-weight: bold;
    margin-top: 10px;
}



@media screen and (max-width: 860px) {
    .addCatDiv{
        display:block;
        margin-left: 0px;
    }
    .cateInp{
        width:100% !important;
        border-radius:10px;
        margin-top: 15px;
        height:50px;
        background-color:#f2eded;
        padding-left:10px;
        border: none;
        margin-left: -20px;
        font-size: 14px;
    }
    .cateInp:focus{
        border: none;
    }
    .addBtnStl{
        background-color: var(--main-color) !important;
        color:white;
        height:52px;
        padding: 10px;
        width: 30%;
        font-size: 10px;
        margin-top: 38px;
        margin-left: 3%;
        font-weight: bold;
        border-radius: 10px;
        margin-left: 5px;

    }

    .CateIptDiv{width:30%;margin-left:30px}
    .CateInpPosiDiv{width:30%;margin-left:10px}
    .CateInpFileDiv{width:45%}
    }
    @media screen and (max-width: 450px) {
        .addCatDiv{
            display:block;
            margin-left: 0px;
        }
        .addBtnStl{
            background-color: var(--main-color) !important;
            color:white;
            height:52px;
            padding: 10px;
            width: 30%;
            font-size: 10px;
            margin-top: 38px;
            margin-left: 3%;
            font-weight: bold;
            border-radius: 10px;
            margin-left: 0px;
        }
        }